.user-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.user {
  width: 40%;
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  &-warning {
    color: white;
    position: absolute;
    bottom: 3%;
    right: 2%;
    background-color: #b68d1d;
    width: 20%;
    height: 7%;
    border-radius: 4px;
    border: 1px solid #a09f5a;
    padding: 0 1rem;
    font-size: 0.9rem;
    transition: opacity 1s linear 1s;
    &:hover {
      opacity: 0;
    }
  }

  &-info {
    background-color: #0a0a0a;
    border: 1px solid #292929;
    width: 80%;
    height: 35%;
    border-radius: 4px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 15%;

    &-link {
      position: absolute;
      top: 0;
      right: 1.5rem;
      font-size: 0.8rem;
      margin-top: 1rem;
      text-decoration: none;
      color: #fff;
      z-index: 2;
      transition: all 0.4s linear;
      display: flex;
      justify-content: space-between;

      &-text {
        margin-right: 1rem;
      }

      &-text:hover {
        &::after {
          width: 100%;
        }
      }

      &-text::after {
        content: '';
        display: block;
        width: 0;
        margin-top: 0.4rem;
        height: 1px;
        background: #fff;
        transition: width 0.15s ease-in;
      }

      &-icon {
        position: absolute;
        top: 25%;
        right: -0.5rem;
      }
    }

    &-img {
      position: absolute;
      width: 100%;
      height: 35%;
      top: -17%;
    }

    &-avatar {
      width: 5.5rem;
      height: 5.5rem;
      object-fit: cover;
      border-radius: 50%;
      vertical-align: middle;
    }

    &-container {
      width: 90%;
      height: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    &-stats {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    &-name {
      margin-top: 1.2rem;
      font-size: 1.2rem;
    }

    &-login {
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }

  &-load {
    background-color: transparent;
    border: 1px solid #292929;
    color: #fff;
    width: 25%;
    height: 3rem;
    margin: 2rem 0;
    transition: all 0.1s linear;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    font-size: 0.9rem;

    &:active {
      transform: translateY(5px);
    }

    &:hover {
      background-color: #fff;
      color: black;
    }
  }
}

.more {
  background-color: #0da090;
  border: 1px solid #72f2e4;

  &:hover {
    border: 1px solid #292929;
  }
}

.less {
  background-color: #a00d19;
  border: 1px solid #a33f3f;

  &:hover {
    border: 1px solid #292929;
  }
}

.repo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 55%;

  &-title {
    font-size: 1.2rem;
  }

  &-buttons {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 750px) {
  .user {
    width: 100%;

    &-info {
      &-img {
        top: -13%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .user {
    width: 100%;

    &-info {
      height: 35%;

      &-link {
        right: 0.3rem;
        font-size: 0.5rem;
        right: 1rem;

        &-icon {
          position: absolute;
          top: 20%;
          right: -0.5rem;
        }
      }

      &-img {
        top: -12%;
      }

      &-avatar {
        width: 4rem;
        height: 4rem;
      }

      &-container {
        height: 70%;
        width: 100%;
        font-size: 0.9rem;
      }

      &-stats {
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
        height: 15%;
      }
    }
    &-login {
      margin-top: 1rem;
    }

    &-load {
      font-size: 0.75rem;
    }

    .user-warning {
      position: absolute;
      background-color: #fff;
    }
  }

  .user-warning {
    width: 30%;
    right: 35%;
    bottom: 5%;
    font-size: 0.55rem;
  }

  .repo-container {
    top: 55%;
    &-title {
      font-size: 1rem;
    }
  }
}
