.user-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.user {
  width: 40%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  &-info {
    background-color: #0a0a0a;
    border: 1px solid #292929;
    width: 80%;
    height: 35%;
    border-radius: 4px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 15%;

    &-img {
      position: absolute;
      width: 100%;
      height: 35%;
      top: -17%;
    }

    &-avatar {
      width: 5.5rem;
      height: 5.5rem;
      object-fit: cover;
      border-radius: 50%;
      vertical-align: middle;
    }

    &-container {
      width: 90%;
      height: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    &-stats {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    &-name {
      margin-top: 1.2rem;
      font-size: 1.2rem;
    }

    &-login {
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }

  &-load {
    background-color: transparent;
    border: 1px solid #292929;
    color: #fff;
    width: 25%;
    height: 3rem;
    margin: 2rem 0;
    transition: all 0.1s linear;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    font-size: 0.9rem;

    &:active {
      transform: translateY(5px);
    }

    &:hover {
      background-color: #fff;
      color: black;
    }
  }
}

.repo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 55%;

  &-title {
    font-size: 1.2rem;
  }

  &-buttons {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  .user {
    width: 100%;

    &-info {
      &-img {
        top: -10%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .user {
    width: 100%;

    &-info {
      height: 35%;

      &-img {
        top: -24%;
      }

      &-avatar {
        width: 4rem;
        height: 4rem;
      }

      &-container {
        height: 70%;
        width: 100%;
        font-size: 0.9rem;
      }

      &-stats {
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
        height: 15%;
      }
    }
    &-login {
      margin-top: 1rem;
    }

    &-load {
      font-size: 0.6rem;
    }
  }

  .repo-container {
    top: 55%;
    &-title {
      font-size: 1rem;
    }
  }
}
